<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle1" class="org.n4smh.springsample1.Triangle1">
		<property name="type" value="Equilateral" />
	</bean>

	<bean id="triangle2" class="org.n4smh.springsample1.Triangle2">
		<!-- Reverting the index should result in exception as constructor is not 
			available -->
		<constructor-arg index="0" value="Isosceles" />
		<constructor-arg index="1" value="12" type="int" />
	</bean>

	<bean id="triangle3.1" class="org.n4smh.springsample1.Triangle3">
		<!-- Referencing other bean for object initialization -->
		<property name="pointA" ref="point1Bean" />
		<property name="pointB" ref="point2Bean" />
		<property name="pointC" ref="point3Bean" />
	</bean>

	<bean id="point1Bean" class="org.n4smh.springsample1.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2Bean" class="org.n4smh.springsample1.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="point3Bean" class="org.n4smh.springsample1.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>

	<bean id="triangle3.2" class="org.n4smh.springsample1.Triangle3"
		name="triangle3.innerbean.name">
		<!-- Inner beans, dosn't need id as not accessed by other objects -->
		<property name="pointA" ref="point1Bean" />
		<property name="pointB">
			<bean class="org.n4smh.springsample1.Point">
				<property name="x" value="-20" />
				<property name="y" value="-10" />
			</bean>
		</property>
		<property name="pointC">
			<bean class="org.n4smh.springsample1.Point">
				<property name="x" value="20" />
				<property name="y" value="10" />
			</bean>
		</property>
	</bean>
	<alias name="triangle3.2" alias="triangle3.innerbean" />


	<bean id="triangle4.1" class="org.n4smh.springsample1.Triangle4">
		<property name="points">
			<list>
				<ref bean="point1Bean" />
				<ref bean="point2Bean" />
				<ref bean="point3Bean" />
			</list>
		</property>
	</bean>
</beans>